node_modules/
chistes.json
.venv/
tmp/*
!tmp/.gitkeep
chistes.json
database.json
chistes.json
Sessions/
instagramarchivos/instagram_storage.json
instagramarchivos/igdata/session.json
.env
.env.*
!.env.example
__pycache__/
*.py[cod]
npm-debug.log*
